body {
    background-color: blue;
}

img {
    width: 100%;
    height: 100px;

    // 
}

// SCSS - yra patobulintas CSS


// includinti kitus scss failus
// atlikti tam tikrus matematinius veiksmu 
// nesting


// headerio p tagaas raudonas.

@import


header p {

    color: red;
}

header {
    p {
        color: red;
    }
}

//scss/sass
// scss 
//npm - sass, knockout.js ...
